body {
  background-image: url('../../assets/fondochat.png');
  background-size: 100% 100%;  // Ajusta la imagen al tamaño completo del contenedor
  background-repeat: no-repeat;  // Evita que la imagen se repita
  background-position: center;  // Centra la imagen en el contenedor
}

ion-header, ion-footer, ion-card {
  z-index: 1;
}

.chat-bubble {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.chat-bubble.right {
  background-color: #0b93f6;
}

.chat-bubble ion-card-title {
  color: black;
}

.chat-bubble.right ion-card-title {
  color: white;
}

.chat-input {
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
}