<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs style="position:fixed">
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/user-tab']">
        <ion-icon name="person"></ion-icon>
        <ion-label>User</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/pet-tab']">
        <ion-icon name="paw"></ion-icon>
        <ion-label>Pet</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/chat-tab']">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

<!-- ion-tabs debe estar fuera de ion-content para que se mantenga fijo en la parte inferior -->

