<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tabs>

    

      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Usuario</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="tab2">
          <ion-icon name="paw-outline"></ion-icon>
          <ion-label>Perro</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="tab3">
          <ion-icon name="chatbubble-outline"></ion-icon>
          <ion-label>Mensajería</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    
    </ion-tabs>
    
</ion-content>
