<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon class="my-custom-icon large-icon" (click)="goToUserTab()" name="person-circle"></ion-icon>
    </ion-buttons>
    <ion-title class="centered-title">Discover</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="my-custom-icon large-icon" (click)="goToChatTab()" name="chatbubbles"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="my-background">
  <ng-container *ngIf="users.length > 0">
    <div class="user-card-container">
      <ion-card class="user-card">
        <!-- Verifica si hay una foto principal disponible antes de mostrarla -->
        <ng-container *ngIf="users[currentIndex].userPhotos && users[currentIndex].userPhotos.length > 0">
          <ion-img [src]="users[currentIndex].userPhotos[0]"></ion-img>
        </ng-container>
        <ion-card-header>
          <!-- Muestra el apodo en lugar del correo electrónico -->
          <ion-card-title>{{ users[currentIndex].apodo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- Muestra la descripción del usuario -->
          <p>{{ users[currentIndex].desc }}</p>
        </ion-card-content>
        <div class="button-container">
          <ion-button class="round-button" expand="full" (click)="likeUser(users[currentIndex].email)">
            <ion-icon name="heart" slot="start" color="success"></ion-icon>
          </ion-button>
          <ion-button class="round-button" expand="full" (click)="dislikeUser(users[currentIndex])">
            <ion-icon name="close" slot="start" color="danger"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </div>
  </ng-container>
</ion-content>
