<ion-content [fullscreen]="true">
  <ion-img src="assets/fondologin.png" class="background-image"></ion-img>
  <div class="animation-container">
    <h1 class="title">Canidates</h1>
  </div>
  <div class="login-container ion-text-center">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>Registrarse</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary" (click)="register()" class="login-button">
          Registrarse
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
