.custom-upload-button {
  display: inline-block;
  background-color: #3498db; /* Cambia el color de fondo según tu preferencia */
  color: #fff; /* Cambia el color del texto según tu preferencia */
  padding: 10px 15px; /* Ajusta el espaciado interno según sea necesario */
  border-radius: 5px; /* Añade bordes redondeados si lo deseas */
  cursor: pointer; /* Cambia el cursor al pasar sobre él */
}

.upload-icon {
  font-size: 24px; /* Ajusta el tamaño del icono según tu preferencia */
  vertical-align: middle; /* Alinea el icono verticalmente con el texto */
  margin-right: 10px; /* Ajusta el margen entre el icono y el texto según sea necesario */
}
